:root {
  --main-text-color: #212121;
  --secondary-color: #2196f3;
  --white: #ffffff;
  --button-bg-color: #f5f4fa;
  --gray: #757575;
  --hero-bg-color: #2f303a;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--main-text-color);
}
.particle-web {
  color: var(--secondary-color);
}
.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
}
.nav-list:hover,
.nav-list:focus {
  color: var(--secondary-color);
}
.contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--gray);
}
.contact-list:hover,
.contact-list:focus {
  color: var(--secondary-color);
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--hero-bg-color);
}
.hero-button {
  background: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  cursor: pointer;
}
.all-lists {
  list-style-type: none;
  font-style: normal;
}
.benefits-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.benefits-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--gray);
}
.hiden-header {
}
.secondary-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-text-color);
}
.team-member-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--gray);
}
.adds {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white);
  text-decoration: none;
  background-color: var(--main-text-color); /*temp*/
}
.filter {
  background: var(--button-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--main-text-color);
  cursor: pointer;
}
.filter:hover,
.filter:focus {
  background: var(--secondary-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--white);
}
.portfolio-card-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.portfolio-card-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--gray);
}
.portfolio-card-link {
  text-decoration: none;
}
